.navbar-brand img {
  max-width: 5vh;
  height: auto;
}

#search {
  width: 100vh;
}
#thanos {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container2 {
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

#original-image {
  display: none;
}

.square {
  position: absolute;
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.card-text { 
  height: 150px;
  scrollbar-color: #252835, #525870 !important ;

}

.card-img-top{
  height: 400px;
}
